/* general home styling */
#home {
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* left and right boxes styling */
#homeBoxesAndButton {
    height: fit-content;
    width: 80%;
    display: flex;
    justify-content: space-between;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16pt;
}

#leftBox {
    height: 300px;
    width: 48%;
    border: 5px solid var(--mochi-green);
    border-radius: 10px;
    margin: 0;
    padding: 0;
    background-color: white;
}

textarea {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 12pt;
}

#rightBox {
    height: 300px;
    width: 48%;
    border: 5px solid var(--mochi-pink);
    border-radius: 10px;
    background-color: white;
    overflow: auto;
}

#question {
    margin: 0 10px 0 10px;
}

#answerChoices {
    display: flex;
    flex-direction: column;
    margin: 0 10px 0 10px;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
    border: 5px solid var(--mochi-pink);
}

#explanationBox {
    margin-top: 10px;
    border-top: 5px solid var(--mochi-pink);
    font-size: 20pt;
    font-family: 'Noto Sans JP', sans-serif;
}

/* lower body styling */
.buttonContainer {
    display: flex;
    justify-content: left;
    width: 80%;
}

.button {
    background-color: var(--mochi-green);
    margin: 10px 0 0 0;
    border: 0;
    padding: 0;
    border-radius: 20px;
    width: 250px;
    height: 40px;
    color: var(--mochi-cream);
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bolder;
    transition: background-color 0.5s;
}

.button:hover {
    background-color: var(--mochi-pink);
    cursor: pointer;
}

#viewOrEditGrammarPointsContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    font-family: 'Mochiy Pop One', sans-serif;
    color: var(--mochi-pink);
    height: 40px;
    margin-top: 3%;
}

#howToContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    font-family: 'Mochiy Pop One', sans-serif;
    color: var(--mochi-pink);
    margin-top: 3%;
}

#howToExplanation {
    font-size: 12pt;
    font-family: 'Noto Sans JP', sans-serif;
    color: black;
    margin: 0;
}